// Created by ge on 5/8/16.
.modal {
    width: 90% !important;
    max-width: 600px;
}

.modal {
    background-color: white;
    box-shadow: 0 0 100px white;
    .modal-header {
        h2 {
            font-weight: 500;
            margin-top: 65px;
            font-size: 30px;
        }
        .hint {
            font-style: italic;
            color: #cccccc;
            font-size: 20px;
        }
        //hr {
        //    border-top: 1px solid #e6e6e6;
        //    border-bottom: none;
        //}
        border-bottom: 1px solid #e6e6e6;
    }
    .modal-body {
        overflow-y: auto;
    }
    .modal-footer {
    }
}

.modal form {
    padding: 20px 0 20px 0;
    fieldset {
        padding: 0 5px;
        border: none;
        box-sizing: border-box;
        margin: 0;
        legend {

            padding: 0;
            padding-right: 50px;
            left: 0;
            right: 0;
            font-weight: 500;
            font-size: 22px;
            text-shadow: 0 0 1px #23aaff;
            color: #23aaff;
        }
        margin-bottom: 20px;
    }

    .form-group {
        position: relative;
        display: block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        label {
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            color: #232323;
        }
        .right {
            text-align: right;
        }
        >:not(:last-child) {
            padding-right: 15px;
        }
        >:not(:first-child) {
            padding-left: 15px;
        }
        .sm-30 {
            display: inline-block;
            width: 30%;
            box-sizing: border-box;
        }
        .sm-40 {
            display: inline-block;
            width: 40%;
            box-sizing: border-box;
        }
        .sm-50 {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
        }
        .sm-60 {
            display: inline-block;
            width: 60%;
            box-sizing: border-box;
        }
        .sm-70 {
            display: inline-block;
            width: 70%;
            box-sizing: border-box;
        }
    }

}
