// Created by ge on 6/3/16.
.two-column {
    :not(:last-child) {
        padding-right: 5px;
    }
    :not(:first-child) {
        padding-left: 5px;
    }
    &.clickable {
        cursor: pointer;
    }
}
