{
  "presets": [
    "flow",
    "stage-2",
    "es2015",
    "react",
    "env"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "dynamic-import-node",
    "transform-runtime"
  ]
}
