// Created by ge on 4/26/16.



.list-panel {
    //.header {
    //    text-align: center;
    //    font-size: 40px;
    //    font-weight: 500;
    //}

}

.list-panel .search-bar {
    box-sizing: content-box;
    height: 30px;
    margin: 20px 0 0 0;
    padding: 0;
}

.list-panel .hero {
    position: relative;
    .header {
        margin: auto 0;
    }
}

.list-panel .tab-bar {
    height: 20px;
    border-bottom: 1px solid #e6e6e6;
}
