// Created by ge on 6/3/16.
$height: 20px;
$font-size: 12px;
.badge {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    font-size: $font-size;
    line-height: $height;
    padding: 0 7px;
    top: -1px;
}

.badge.clickable, .badge.badge-with-control {
    cursor: pointer;
}

.badge.badge-with-control {
    padding-right: $height;
    :last-child {
        position: absolute;
        top: 0;  right: 0;
        width: $height;
        margin: 0 auto;
        font-size: $font-size;
        line-height: $height;
        text-align: center;
    }
}
