// Created by ge on 5/5/16.
$border-color: #cfcfcf;
$background-color: white;
$arrow-size: 10px;
$left-offset: 10px;
.popover {
    .popover-container {
        position: absolute;
        z-index: 1;
        padding: 0;
        border: 1px solid $border-color;
        box-shadow: 0 1px 4px $border-color;
        border-radius: 7px;
        background-color: white;
        &:before {
            content: "";
            position: absolute;
            top: -$arrow-size;
            left: $left-offset;
            width: 0;
            height: 0;
            border: none;
            border-left: $arrow-size solid rgba(0, 0, 0, 0);
            border-right: $arrow-size solid rgba(0, 0, 0, 0);
            border-bottom: $arrow-size solid $border-color;
        }
        &:after {
            content: "";
            position: absolute;
            top: -($arrow-size - 2px);
            left: ($left-offset + 2px);
            width: 0;
            height: 0;
            border: none;
            border-left: ($arrow-size - 2px) solid rgba(0, 0, 0, 0);
            border-right: ($arrow-size - 2px) solid rgba(0, 0, 0, 0);
            border-bottom: ($arrow-size - 2px) solid $background-color;
        }
    }
    .popover-menu-item {
        &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        cursor: pointer;
        padding: 10px 20px;
        white-space: nowrap;
        &:hover {
            color: #313131;
            background-color: rgba(#23aaff, 0.1);
        }
        &:active {
            background-color: rgba(#23aaff, 0.3);
        }
        i.material-icons {
            font-size: 22px;
        }
    }
}
