// Created by ge on 4/30/16.
.inline-editable {
    display: block;
    overflow-y: auto;
    &:focus {
        outline: none;
    }
    &.placeholder {
        font-style: italic;
        //&:before {
        //    color: #cfcfcf;
        //    display: inline-block;
        //    content: attr(placeholder);
        //}
        // or the following
        &:after {
            color: #cfcfcf;
            z-index: -1;
            display: inline-block;
            top: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            content: attr(placeholder);
        }
    }
}
