// Created by ge on 4/27/16.
.search-input {

    color: #cfcfcf;
    input::-webkit-input-placeholder {  color: #cfcfcf;  }
    input::-moz-placeholder {  color: #cfcfcf; opacity: 1; }
    input:-ms-input-placeholder {  color: #cfcfcf;  }
    .search-icon {
        text-align: center;
        position: absolute !important;
    }
    input {
        box-sizing: border-box;
        transition: all 0.3s linear;
        border: 1px solid rgba(0, 0, 0, 0);
        &:hover {
            border: 1px solid #23aaff
        }
        &:focus {
            border: 1px solid #23aaff;
            outline: none;
        }
    }
}
